<% provide(:title, "Home") %>
<div class="center jumbotron">
  <h1>Welcome to the Sample App</h1>
  
  <h2>
    This is the home page for the 
    <%= link_to "Ruby on Rails Tutorial", "http://www.railstutorial.org/" %>
    sample application.
  </h2>
  
  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>
  
<%= link_to image_tag("rails.png", alt: "Rails logo"),
    'http://rubyonrails.org/' %>


